<%= content_tag :div, class: "nested-fields" do %>
  <div class="row"> 
    <div class="col-lg-3">
      <div class="form-group" >
        <%= form.label :investor %>
        <% if @capital_account.user_id.present? %>
          <select class="form-select" aria-label="Disabled select example" disabled>
            <option selected><%= @capital_account.user.full_name %></option>
          </select>   
        <% else %>
          <%= form.select :user_id, User.all.collect { |x| [ "#{x.first_name} #{x.last_name}", x.id] }, { hide_label: true, :include_blank => "-select investor-"  }, { class: 'selectpicker form-control blue', "data-live-search" => :true, :autofocus => :true } %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= form.label :deal %>
        <%= form.select :deal_id, Deal.all.collect { |x| [ "#{x.name} #{x.address}", x.id] }, { hide_label: true, :include_blank => "-select deal-"  }, { class: 'selectpicker form-control blue', "data-live-search" => :true, :autofocus => :true } %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= form.label :distribution_type %>
        <%= form.select(:distribution_type, options_for_select(distribution_types, :selected => @captial_distribution&.distribution_type ), { hide_label: true, :include_blank => true}, { class: 'form-control', :tabindex => "0" }) %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= form.label :return_of_capital %>  
        <%= form.number_field :return_of_capital, class: 'form-control', step: 0.01 %>  
      </div>
    </div>
  </div>
<% end %>