  
  <section class="py-5 bg-secondary container container-dash text-white">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light text-center">Welcome <%= current_user.first_name.capitalize %></h1>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-9 text-left">
            <table class="table-borderless">
                <tbody>
                  <tr>
                    <td class="dash-cell">First Investment:</td>
                    <td class="dash-cell"><%#= l(CapitalAccount.where(user_id: current_user.id).first.created_at.to_date, format: :long) %></td>
                  </tr>
                  <tr>
                    <td class="dash-cell">Number of Deals:</td>
                    <td class="dash-cell"><%= CapitalAccount.where(user_id: current_user.id).count %></td>
                  </tr>
                  <tr>
                    <td class="dash-cell">Lifetime Capital Invested:</td>
                    <td class="dash-cell">
                      <% CapitalAccount.where(user_id: current_user.id).each do |investment| %>
                        <% @lifetime_contributions[:capital] += investment.initial_balance %>
                        <% @current_capital_invested[:capital] += investment.current_balance %>
                      <% end %>
                      <%= number_to_currency(@lifetime_contributions[:capital] += 0, precision: 0) %>
                    </td>
                  </tr>
                  <tr>
                    <td class="dash-cell">Lifetime Capital Returned:</td>
                    <td class="dash-cell"><%= number_to_currency(@lifetime_contributions[:capital] += 0 - @current_capital_invested[:capital] += 0, precision: 0) %></td>
                  </tr> 
                  <tr>
                    <td class="dash-cell">Current Unreturned Capital:</td>
                    <td class="dash-cell"><%= number_to_currency(@current_capital_invested[:capital] += 0, precision: 0) %></td>
                  </tr>
                  <tr>
                    <td class="dash-cell">Lifetime Interest Received:</td>
                    <td class="dash-cell"> 22.1%</td>
                  </tr> 
              </table>
            </div>

        <p class="text-center">
          <a href="#" class="btn btn-primary my-2 text-white mt-4">My Current Deals</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <hr>
      <h1 class="text-center mb-4"> Potential Deals </h1>
      <hr>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm ">
            <%=image_tag("/assets/apartment5")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            <div class="d-flex justify-content-center col-12 mt-2">
            </div>
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%=image_tag("/assets/apartment2")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%=image_tag("/assets/apartment3")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%=image_tag("/assets/apartment")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <%=image_tag("/assets/apartment")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <%=image_tag("/assets/apartment")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%=image_tag("/assets/apartment6")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%=image_tag("/assets/apartment6")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%=image_tag("/assets/apartment6")%>
            <h6 class="text-center">123 Any Street, Spokane, WA 98021</h6>
            
            <div class="card-body">
              <p class="card-text">
              <h6> Total Cash Needed: $165,000</h6>
              <h6 class="pt-2"> Projections</h6>

              <table class="table-borderless">
                <tbody>
                  <tr>
                    <td>5 year return:</td>
                    <td>106%</td>
                  </tr>
                  <tr>
                    <td>Annual rate of Return:</td>
                    <td>21.2% </td>
                  </tr>
                   <tr>
                    <td>Sustainable Vacancy Y1:</td>
                    <td> 18.0%</td>
                  </tr> 
                  <tr>
                    <td>Sustainable Vacancy Y2:</td><br/>
                    <td> 25.0%</td>
                  </tr>
                  <tr>
                    <td>Average Portfolio Return:</td>
                    <td> 19.9%</td>
                  </tr> 
              </table>
              </p>
              <div class="flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                <button type="button" class="btn btn-sm btn-outline-primary mr-4">I'm Interested</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
