<% @index %>
<%= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do %>
  <div class="row"> 
    <div class="col-lg-3">
      <div class="form-group">
        <%= form.label :distribution_type %>
        <% if @index.present? %>
          <%= form.select :distribution_type, options_for_select(distribution_types, :selected => @deal&.distributions[@index]&.distribution_type), { hide_label: true, :include_blank => true}, { class: 'form-control', :tabindex => "0", required: true } %>
        <% else %>
          <%= form.select :distribution_type, options_for_select(distribution_types), { hide_label: true, :include_blank => true, :include_blank => "-select distribution type-" }, { class: 'form-control', :tabindex => "0", required: true } %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="field">
        <%= form.label "Capital Account" %>
        <% if @index.present? %>
          <%= form.select :capital_account_id, options_for_select(CapitalAccount.where(deal_id: @deal.id).order('user_id ASC').collect { |x| [ "#{x.user&.full_name}  (#{x.deal.name != "" ? x.deal.name : x.deal.address}) ", x.id ] }, :selected => @deal&.distributions[@index]&.capital_account_id), {  hide_label: true, :include_blank => "-select which account to apply this distribution to-" }, { class: 'selectpicker form-control blue', "data-live-search" => :true, :autofocus => :true, required: true } %>
        <% else %>
          <%= form.select :capital_account_id, options_for_select(CapitalAccount.where(deal_id: @deal.id).order('user_id ASC').collect { |x| [ "#{x.user&.full_name} (#{x.deal.name != "" ? x.deal.name : x.deal.address}) ", x.id ] }), {  hide_label: true, :include_blank => "-select account to apply distribution to-" }, { class: 'selectpicker form-control blue', "data-live-search" => :true, :autofocus => :true, required: true } %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= form.label :amount %>  
        <%= form.number_field :amount, value: number_to_currency(form.object.amount.to_f, delimiter: '', unit: ''), class: 'form-control', step: 0.01, required: true %>  
      </div>
    </div>
    <div class="col-lg-3">
      <div class="d-flex"> 
        <div class="justify-content-start">
          <div class="form-group col-sm-11">
            <%= form.label :distribution_date %>  
            <%= form.date_field :distribution_date, class: 'form-control', required: true %>  
          </div>    
        </div> 
        <div class="justify-content-end mt-4 ml-3">
          <small><%= link_to "#", style:"text-decoration:none;", class:'fa fa-trash fa-2x', data: { action: "click->nested-form#remove_association" } do end %></small>
          <%= form.hidden_field :_destroy %>
        </div>
      </div>
    </div>
  </div>
<% end %>