<div class="container-fluid col-10">
  <%= form_with(model: deal, local: true) do |form| %>
    <% if deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% deal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless params[:distribution ].present? %>
      <div class="row">
        <div class="col-lg-6">  
          <div class="form-group mt-2">
            <%= form.label :deal_name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>  
        <div class="col-lg-6">  
          <div class="form-group mt-2">
            <%= form.label "Deal Image" %>
            <%= form.file_field :deal_image, class: "form-control"%>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">  
            <div class="form-group mt-2">
              <%= form.label :address %>
              <%= form.text_field :address, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg-6">  
            <div class="form-group mt-2">
              <%= form.label :city %>
              <%= form.text_field :city, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg-3">  
            <div class="form-group mt-2">
              <%= form.label :state %>
              <%= form.select(:state, options_for_select(us_states, :selected => @deal.state), { hide_label: true, :include_blank => true}, { class: 'form-control', :tabindex => "0" }) %>
            </div>
          </div>  
          <div class="col-lg-3">  
            <div class="form-group mt-2">
              <%= form.label :zip %>
              <%= form.text_field :zip, class: "form-control" %>
            </div>
          </div>
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="form-group col-lg-6 mt-2">
            <%= form.label "Capital Needed" %>
            <%= form.number_field :total_capital_call, value: number_to_currency(form.object.total_capital_call.to_f, delimiter: '', unit: ''), class: "form-control" %>
          </div>

          <div class="form-group col-lg-6 mt-2">
            <%= form.label :closing_date %>
            <%= form.date_field :closing_date, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6 mt-2">
            <%= form.label "Promote Equity %" %>
            <%= form.number_field :promote_equity_percentage, class: "form-control", step: 0.5 %>
          </div>

          <div class="form-group col-lg-6 mt-2">
            <%= form.label "Investor Equity %" %>
            <%= form.number_field :investor_equity_percentage, class: "form-control", step: 0.5 %>
          </div>
        </div>

        <div class="form-group mt-2">
          <%= form.label "Pro-forma" %>
          <%= form.file_field :pdf_file, id: :pro_forma_file, class: "form-control"%>
        </div>

        <div class="form-group mt-2">
          <%= form.label "Operating Agreement" %>
          <%= form.file_field :pdf_file, id: :oa_forma_file, class: "form-control"%>
        </div>
      </div>
    <% end %>
    
    <% if params[:distribution ].present? %> <!-- Do Not Display when editing or creating a deal This will only display if in the Deal Show someone clicks "Add Distribution"-->
        <div data-controller="nested-form">
          <template data-target="nested-form.template">
            <%= form.fields_for :distributions, Distribution.new, child_index: 'NEW_RECORD' do |distribution|  %>
              <%= render "distribution_fields", form: distribution, index: @index %>
            <% end %>
          </template>

          <% @index = 0 %>
           <!--Right now I am not having these show because the accumulation will become tedious. To view historical distributions, go to the distributions index
           <%#= form.fields_for :distributions do |distribution| %>
            <%#= render "distribution_fields", form: distribution %>
          <%# end %>
          -->          
          <div class="my-3" data-target="nested-form.links">  
            <%= link_to "Add Distribution", "#", class: 'btn btn-outline-primary', data: { action: "click->nested-form#add_association" } %>
          </div>
        </div>
      <div class="actions">
        <%= form.submit 'Save', class: 'btn btn-primary mt-4' %>
      </div>
    <% end %>
  <% end %>
</div>
