<p id="notice"><%= notice %></p>

<table class="table-responsive">
  <p>
  <strong>Address:</strong>
  <%=@deal.address %>
  <%= @deal.city %>
  <%= @deal.state %>
  <%= @deal.zip %>
</p>

<p>
  <strong>Capital Investment: </strong>
  <%= @deal.oa %>
</p>


</table>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
