<p id="notice"><%= notice %></p>

<table class="table-responsive">
  

    <tr>
      <strong>Address:</strong>
      <%= @deal.address %>
      <%= @deal.city %>
      <%= @deal.state %>
      <%= @deal.zip %>
      <%= @deal.oa %>
    </tr>
    <tr>
      <strong>Cash Needed:</strong>
        <%= @deal.address %>
    </tr>
</table>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
