<div class="container col-lg-6"> 
  <p id="notice"><%= notice %></p>
  <div class="container text-center">
    <hr>  
      <h1><%= @deal.name %></h1>
      <%=@deal.address %>,
      <%= @deal.city %>
      <%= @deal.state %>,
      <%= @deal.zip %>
    <hr>
  </div>
  <table class="table table-borderless">
    <thead> 
      <tr>  
        <th></th>
      </tr>
    </thead>
    <tbody> 
      <tr>
        <td>Closing Date:</td>
        <td><%= l(@deal.closing_date, format: :long) %></td>
      </tr>
      <tr>
        <td>Capital Needed:</td>
        <td><%= number_to_currency(@deal.total_capital_call, precision: 0) %></td>
      </tr>
      <tr>
        <td>Promote Equity:</td>
        <td><%= number_to_percentage(@deal.promote_equity_percentage, precision: 0) %></td>
      </tr>
      <tr>
        <td>Investor Equity:</td>
        <td><%= number_to_percentage(@deal.investor_equity_percentage, precision: 0) %></td>
      </tr>
      <tr>
        <td>Current Investors:</td>
        <td>
          <% @deal.users.each do |investor| %>
            -<%= investor.full_name %><br/>
          <% end %>

        </td>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_deal_path(@deal) %> |
</div>

