<%= form_with(model: capital_distribution, local: true) do |form| %>
  <% if capital_distribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(capital_distribution.errors.count, "error") %> prohibited this capital_distribution from being saved:</h2>

      <ul>
        <% capital_distribution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :return_of_capital %>
    <%= form.text_field :return_of_capital %>
  </div>

  <div class="field">
    <%= form.label :capital_account_id %>
    <%= form.text_field :capital_account_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
