<p id="notice"><%= notice %></p>

<h1>Capital Distributions</h1>

<table>
  <thead>
    <tr>
      <th>Return of capital</th>
      <th>Capital account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capital_distributions.each do |capital_distribution| %>
      <tr>
        <td><%= capital_distribution.return_of_capital %></td>
        <td><%= capital_distribution.capital_account_id %></td>
        <td><%= link_to 'Show', capital_distribution %></td>
        <td><%= link_to 'Edit', edit_capital_distribution_path(capital_distribution) %></td>
        <td><%= link_to 'Destroy', capital_distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capital Distribution', new_capital_distribution_path %>
