<p id="notice"><%= notice %></p>

<p>
  <strong>Return of capital:</strong>
  <%= @capital_distribution.return_of_capital %>
</p>

<p>
  <strong>Capital account:</strong>
  <%= @capital_distribution.capital_account_id %>
</p>

<%= link_to 'Edit', edit_capital_distribution_path(@capital_distribution) %> |
<%= link_to 'Back', capital_distributions_path %>
